<div class="row clearfix">
    <div class="col-xs-12 column">         
        {% if flash.error %}
        <div class="alert alert-danger fade in">
            <button class="close" data-dismiss="alert" type="button">×</button>
            {{ flash.error }}
        </div>
        {% endif %}
        
        {% if flash.info %}
        <div class="alert alert-success fade in">
          <button class="close" data-dismiss="alert" type="button">×</button>
          {{ flash.info }}
        </div>
        {% endif %} 
    </div>
</div>