<div class="row clearfix">
    <div class="col-md-12 column">                      
        <ul class="nav nav-pills"> 
            <li {{ title == 'Patient Info' ? 'class="active"' : ''}} >
                    <a href="/emrs/emrs/patients/info/{{ pid }}">Patient Info</a>
            </li>            
            <li {{ title == 'Treatments' ? 'class="active"' : ''}} >
                    <a href="/emrs/emrs/patients/treatment/{{ pid }}">Treatments</a>
            </li>
            <li {{ title == 'Appointments' ? 'class="active"' : ''}} >
                    <a href="/emrs/emrs/patients/appointment/{{ pid }}">Appointments</a>
            </li>
            <li {{ title == 'Lab Results' ? 'class="active"' : ''}} >
                    <a target="_blank" href="/emrs/emrs/patients/lab-results/{{ pid }}">Lab Results</a>
            </li>  
            <li {{ title == 'Medications' ? 'class="active"' : ''}} >
                    <a target="_blank" href="/emrs/emrs/medications/{{ pid }}">Medications</a>
            </li>            

        </ul>                
    </div>
</div>