{% extends "base.html" %}
{% block company_name %} {{ session.company_name }} {% endblock %}
{% block title %}{{ title }} {% endblock %}

{% block menu %}
    {% include "patient_menu.html" %}
{% endblock menu %}

{% block js %}
<script>
    $(function() {
        $(".dp_class").datepicker({                                
            dateFormat: "yymmdd"  
        });  

        $("#birth_date").datepicker({                                
            dateFormat: "yymmdd",
            changeMonth: true,
            changeYear: true                    
        });                   
    });
    
    function confirmAddNew() {
        return confirm("Create new treatment form?");  
    }     
</script> 
{% endblock js %}
  
{% block content %}

<div class="container">
    
<div class="row clearfix">    
  <div class="col-xs-12 column">  
      <br>
  </div>    
</div>     
    
<div class="row clearfix">

    
</div> 
    
<div class="row clearfix">
    <div class="col-xs-12 column">   
        {% if delete_ask %}
        <div class="alert alert-danger fade in">
            <button class="close" data-dismiss="alert" type="button">×</button>
            Confirm Delete? 
            <a href="/emrs/emrs/prescriptions/delete/{{ presc_id }}/{{ pid }}">YES</a> | 
            <a href="/emrs/emrs/prescriptions/{{ pid }}">NO</a>
        </div>
        {% endif %} 
        {% if check_add %}
        <div class="alert alert-danger fade in">
            <button class="close" data-dismiss="alert" type="button">×</button>
            Treatment form already exists for today. Create another? 
            <a href="/emrs/emrs/treatments/add/{{ pid }}">YES</a> | 
            <a href="/emrs/emrs/appointments/">NO</a>
        </div>
        {% endif %}         
    </div>
    
</div>     
    
{% include "flash_msg.html" %}

<form role="form"  enctype="multipart/form-data" action="/emrs/emrs/patients/save" method="POST">
<input type="hidden" name="MAX_FILE_SIZE" value="3000000" /> 
<input type="hidden" name="pid" value="{{ pid }}">
       

<div class="row clearfix">
     
    
{% if show_patient_edit %} 
<div class="col-xs-4 column">
    <div class="panel panel-primary">
        <div class="panel-heading">Info</div>        
        <table class="table table-bordered" style="font-size:12px"> 
        {% if person_values %}    
            {% for key, value in person_values if key not in ['person_id'] %}   
                <tr>                    
                    <td style="text-align:left">{{ key|replace({'_': ' '})|title }} {{ key in ['fname','lname','birth_date','gender'] ?  '<span style="color:red;">*</span>' }}</td>
                    {% if key == 'gender' %}
                        <td><select style="width:100%;" class="form-control input-sm" id="{{ key }}" type="text" name="{{ key }}">
                            <option value="" >-</option>
                        {% for po in person_options if key == po.property_name %}
                            <option value="{{ po.option_id }}" {{ po.option_value == value ? 'SELECTED' }} >{{ po.option_value }}</option>
                        {% endfor %}
                        </select>
                        </td>  
                    {% elseif key == 'civil_status' %}
                        <td><select style="width:100%;" class="form-control input-sm" id="{{ key }}" type="text" name="{{ key }}">
                            <option value="" >-</option>
                        {% for po in person_options if key == po.property_name %}
                            <option value="{{ po.option_id }}" {{ po.option_value == value ? 'SELECTED' }} >{{ po.option_value }}</option>
                        {% endfor %}
                        </select>
                        </td>                
                    {% elseif key == 'active' %}
                        <td>                           
                            <input style="height:20px;width:20px;" type="checkbox" name="{{ key }}"  value="1" {{ value == '1' ? 'CHECKED' }}>
                        </td>                       
                    {% else %}                     
                        <td><input style="width:100%;" class="form-control input-sm" id="{{ key }}" type="text" name="{{ key }}"  value="{{ value }}"></td>
                    {% endif %}                                     
                </tr>            
            {% endfor %}
        {% else %} 
            {% for header in person_header if header.Field not in ['person_id']  %}   
                <tr>                    
                    <td style="text-align:left">{{ header.Field|replace({'_': ' '})|title }} {{ header.Field in ['fname','lname','birth_date','gender'] ?  '<span style="color:red;">*</span>' }}</td>
                    {% if header.Field == 'gender' %}
                        <td><select style="width:100%;" class="form-control input-sm" id="{{ header.Field }}" type="text" name="{{ header.Field }}">
                            <option value="" >-</option>
                        {% for po in person_options if header.Field == po.property_name %}
                            <option value="{{ po.option_id }}" {{ po.option_value == value ? 'SELECTED' }} >{{ po.option_value }}</option>
                        {% endfor %}
                        </select>
                        </td>  
                    {% elseif header.Field == 'civil_status' %}
                        <td><select style="width:100%;" class="form-control input-sm" id="{{ header.Field }}" type="text" name="{{ header.Field }}">
                            <option value="" >-</option>
                        {% for po in person_options if header.Field == po.property_name %}
                            <option value="{{ po.option_id }}" {{ po.option_value == value ? 'SELECTED' }} >{{ po.option_value }}</option>
                        {% endfor %}
                        </select>
                        </td> 
                    {% elseif header.Field == 'active' %}
                        <td>                           
                            <input style="height:20px;width:20px;" type="checkbox" name="{{ key }}"  value="1" CHECKED>           
                        </td>                         
                    {% else %} 
                        <td><input style="width:100%;" class="form-control input-sm" id="{{ header.Field }}" type="text" name="{{ header.Field }}"  value=""></td>
                    {% endif %}               
                </tr>            
            {% endfor %}            
        {% endif %} 
        </table>
    </div>
</div>

<div class="col-xs-4 column">    
     <div class="panel panel-primary">
        <div class="panel-heading">Medical Details</div>
        <table class="table table-bordered" style="font-size:12px">
        {% if patient_values %}    
            {% for key, value in patient_values if key not in ['person_id'] %}   
                <tr>
                    {% if key in ['dry_weight','hepa_status','physician_id'] %}
                    <td style="text-align:left">{{ key|replace({'_': ' '})|title }} <span style="color:red;">*</span></td>
                    {% else %} 
                    <td style="text-align:left">{{ key|replace({'_': ' '})|title }} </td>
                    {% endif %}                                         
                    {% if key == 'hepa_status' %}
                        <td><select style="width:100%;" class="form-control input-sm" id="{{ key }}" type="text" name="{{ key }}">
                            <option value="" >-</option>
                        {% for po in person_options if key == po.property_name %}
                            <option value="{{ po.option_id }}" {{ po.option_id == value ? 'SELECTED' }} >{{ po.option_value }}</option>
                        {% endfor %}
                        </select>
                        </td>                       
                     
                    {% elseif key == 'physician_id' %}                    
                    <td><select style="width:100%;" class="form-control input-sm" id="physician_id" type="text" name="physician_id">
                        <option value="" >-</option>
                        {% for p in physicians %}
                            <option value="{{ p.person_id }}" {{ p.person_id == value ? 'SELECTED' }}>{{ p.pro_title }}</option>
                        {% endfor %}
                        </select>
                    </td>                       
                    {% else %}                    
                    <td><input style="width:100%;" class="form-control input-sm" id="{{ key }}" type="text" name="{{ key }}"  value="{{ value }}"></td>
                    {% endif %}                  
                </tr>            
            {% endfor %}
        {% else %} 
            {% for header in patient_header if header.Field not in ['person_id'] %}   
                <tr> 
                    {% if header.Field in ['dry_weight','hepa_status','physician_id'] %}
                        <td style="text-align:left">{{ header.Field|replace({'_': ' '})|title }} <span style="color:red;">*</span></td>
                    {% else %} 
                        <td style="text-align:left">{{ header.Field|replace({'_': ' '})|title }} </td>
                    {% endif %} 
                    {% if header.Field == 'hepa_status' %}
                        <td><select style="width:100%;" class="form-control input-sm" id="{{ header.Field }}" type="text" name="{{ header.Field }}">
                            <option value="" >-</option>
                        {% for po in person_options if header.Field == po.property_name %}
                            <option value="{{ po.option_id }}" {{ po.option_id == value ? 'SELECTED' }} >{{ po.option_value }}</option>
                        {% endfor %} 
                        </select>
                        </td>                    
                    {% elseif header.Field == 'physician_id' %}
                        <td><select style="width:100%;" class="form-control input-sm" id="physician_id" type="text" name="physician_id">
                            <option value="" >-</option>
                        {% for p in physicians %}
                            <option value="{{ p.person_id }}">{{ p.pro_title }}</option>
                        {% endfor %} 
                        </select>
                        </td>                         
                    {% else %}                    
                        <td><input style="width:100%;" class="form-control input-sm" id="{{ header.Field }}" type="text" name="{{ header.Field }}"  value=""></td>
                    {% endif %}            
                </tr>            
            {% endfor %}                
        {% endif %}  
      
        </table>          
    </div>  
    <div class="panel panel-primary">
        <div class="panel-heading">Image Upload</div>
        <table class="table table-bordered" style="font-size:12px">
        <tr>
            <td>Profile Picture</td>
            <td>[<a style="color:red;" href="/emrs/emrs/patients/remove/profile_pic/{{ pid }}/{{ token }}">X</a>]</td>
            <td><input style="width:180px;" name="profile_pic" type="file" /></td>
        </tr>
        <tr>
            <td>Senior Citizen ID</td>
            <td>[<a style="color:red;" href="/emrs/emrs/patients/remove/scc_id/{{ pid }}/{{ token }}">X</a>]</td>
            <td><input style="width:180px;" name="scc_id" type="file" /></td>
        </tr>
        <tr>
            <td>PWD ID</td>
            <td>[<a style="color:red;" href="/emrs/emrs/patients/remove/pwd_id/{{ pid }}/{{ token }}">X</a>]</td>
            <td><input style="width:180px;" name="pwd_id" type="file" /></td>
        </tr> 
        
        
        </table>
    </div>    
</div>

<div class="col-xs-4 column">
    <div class="panel panel-primary">
        <div class="panel-heading">Hemodialysis Orders</div>        
        <table class="table table-bordered" style="font-size:12px"> 
        {% if hd_order_values %}    
            {% for key, value in hd_order_values if key not in ['person_id'] %}   
                <tr>                    
                    <td style="text-align:left">{{ key|replace({'_': ' '})|title }} </td>                      
                    <td><input style="width:100%;" class="form-control input-sm" id="{{ key }}" type="text" name="{{ key }}"  value="{{ value }}"></td>                                                      
                </tr>            
            {% endfor %}
        {% else %} 
            {% for header in hd_order_header if header.Field not in ['person_id']  %}   
                <tr>                    
                    <td style="text-align:left">{{ header.Field|replace({'_': ' '})|title }} </td>  
                    <td><input style="width:100%;" class="form-control input-sm" id="{{ header.Field }}" type="text" name="{{ header.Field }}"  value=""></td>                                
                </tr>            
            {% endfor %}            
        {% endif %} 
        </table>
        
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit" name="btn_save_property" value="1">Save</button>
        </div>         
    </div>
</div>

{% endif %}
    
    
{% if show_treatment_history %}
<div class="col-xs-4 column">      
</div>
<div class="col-xs-4 column">
     <div class="panel panel-primary">
        <div class="panel-heading">Treatment History for: {{ person_values.fname }} {{ person_values.lname }}</div> 
            <table class="table table-bordered" style="font-size:12px">
                <tr>
                    <th>Treatment ID</th>
                    <th>Date</th>                  
                </tr>                 
                {% set i = patient_values.initial_treatment_id ? patient_values.initial_treatment_id : 1 %}
                {% for history in treatment_history %}   
                <tr>
                    <td><a href="/emrs/emrs/treatments/{{ pid }}/{{ history.treatment_id }}/{{ history.version_id }}" target="_BLANK">{{ i }}</a></td>
                    <td style="text-align:left">{{ history.entry_date_readable }}</td>
                </tr>  
                {% set i = i + 1 %}
                {% endfor %}  
                <tr>
                    <td colspan=2><a href="/emrs/emrs/treatments/check-add/{{ pid}}" class="btn btn-primary btn-block" target="_blank">Create new treatment form for this patient</a></td>                    
                </tr>                 
            </table>
     </div>
</div> 
<div class="col-xs-4 column">      
</div>
{% endif %}

{% if show_appointment_history %}
<div class="col-xs-12 column">
     <div class="panel panel-primary">
        <div class="panel-heading">Appointment History</div>
            <table class="table table-bordered" style="font-size:12px">
                <tr>
                    <th>ID</th>
                    <th>Date</th>  
                    <th>Time</th>  
                    <th>Set</th>  
                    <th>Status</th>  
                </tr>    
             {% for appointment in appointment_history %}   
                <tr>
                    <td><a href="/emrs/emrs/appointments/view/{{ appointment.appointment_date }}">{{ appointment.aid }}</a></td>
                    <td style="text-align:left">{{ appointment.appointment_date_readable }}</td>
                    <td style="text-align:left">{{ appointment.appointment_time }}</td>
                    <td>{{ appointment.set_number }}</td>
                    <td>{{ appointment.appointment_status }}</td>


                </tr>    
            {% endfor %}    
            </table>            
     </div>
</div> 
{% endif %}


    
    
</div>

</form>

</div>

{% endblock %}
