{% extends "base.html" %}

{% block doctype %}{% endblock %}
{% block title %} Patient Profile: {{ info.fname|title }} {{ info.lname|title }} {% endblock %}
{% block bootstrap %} {% endblock %} 
{% block header %} {% endblock %}
{% block navbar %} {% endblock navbar %}
{% block menu %} {% endblock menu %} 

{% block js %}
{% endblock js %}  

{% block content %}
<style>
    td {
        padding:3px;
        padding-left:10px;
        border:solid thin grey;
        
    }
    
    table {        
        font-family:verdana;
        font-size:11px;
        margin:auto;
        
    }    
    
    
    
</style>    


    
    <table border=0>
        <tr><td colspan=4>
                [<a target="_blank" href="/emrs/emrs/">Home</a>] 
                [<a target="_blank" href="/emrs/emrs/patients/edit/{{ pid }}">Edit</a>] 
                [<a target="_blank" href="/emrs/emrs/patients/lab-results/{{ pid }}">Lab Results</a>] 
                [<a target="_blank" href="/emrs/emrs/medications/{{ pid }}">Medications</a>]</td></tr>
        <tr><td colspan=4 style="text-align:center;padding:5px;"><h1>{{ session.company_name }}</h1></td></tr> 
        
        <tr>            
            <td colspan=4 style="border:none;height:20px;"></td>           
        </tr>        
        <tr>            
            <td colspan=3 style="border:none;height:20px;"></td> 
            <td style="width:150px; height: 20px;text-align:center;padding:3px;">{{ date_today }}</td>      
        </tr>
        
        <tr>
            
            <td colspan=2>Name: {{ info.fname|title }} {{ info.mname|title }} {{ info.lname|title }} ({{age}}/{{ info.gender }})</td>            
            <td style="border:none"></td>  
                        
            <td rowspan=6 style="width:150px;height:150px;padding:3px;text-align:center;">
                {% if has_profile_pic %}
                    <img style="width:150px;height:140px;" src="{{ img_profile_pic }}">
                    <br>
                    <span ><a style="font-size:9px;color:red;" href="/emrs/emrs/patients/remove/{{ pid }}/{{ token }}">Remove pic</a></span>  
                {% else %}
                    <span>No image</span>                
                {% endif %}               
            </td>
        </tr>    
        
        <tr>            
            <td colspan=2>Address 1: {{ info.address1 }}</td> 
            <td style="border:none"></td>
        </tr>        
        <tr>
            
            <td colspan=2>Address 2: {{ info.address2 }} {{ info.city }} {{ info.province }}</td>
            <td style="border:none"></td>
        </tr> 
        <tr>
            
            <td colspan=2>Contact Number: {{ info.phone_number }}</td>
            <td style="border:none"></td>
        </tr> 
        <tr>
            
            <td colspan=2 style="width:150px">Birthday: {{ info.birth_date[4:2] }}/{{ info.birth_date[6:2] }}/{{ info.birth_date[0:4] }}</td>            
            <td style="border:none"></td>
        </tr> 
        <tr>
            
            <td colspan=2>Blood Type: {{ info.blood_type }}</td>  
            <td style="border:none"></td>
        </tr>         
      
        <tr>
            <td colspan=1 style="border:none"></td>
            <td colspan=3 style="border:none">
                {% if has_profile_pic == 0 %}
                <form enctype="multipart/form-data" action="/emrs/emrs/patients/upload" method="POST">  
                    <input type="hidden" name="pid" value="{{ pid }}" />  
                    <input type="hidden" name="MAX_FILE_SIZE" value="300000" />             
                    <input name="profile_pic" type="file" />
                    <input type="submit" value="Upload Photo" />
                </form> 
                {% endif %}
            </td>
        </tr> 
        
        <tr>
            <td colspan=3 style="width:300px;border:none;"></td>                         
            <td rowspan=3 style="width:150px;height:100px;padding:3px;text-align:center;">
                {% if has_scc_id %}
                    <img style="width:150px;height:95px;" src="{{ img_scc_id }}">
                    <br>
                    <span ><a style="font-size:9px;color:red;" href="/emrs/emrs/patients/remove/{{ pid }}/{{ token }}">Remove pic</a></span>  
                {% else %}
                    <span>No image</span>                
                {% endif %}               
            </td>
        </tr>    
        
        <tr><td colspan=3 style="border:none"></td></tr>        
        <tr><td colspan=3 style="border:none"></td></tr>       
        <tr>
            <td colspan=1 style="border:none"></td>
            <td colspan=3 style="border:none">
                {% if has_scc_id == 0 %}
                <form enctype="multipart/form-data" action="/emrs/emrs/patients/upload" method="POST">  
                    <input type="hidden" name="pid" value="{{ pid }}" />  
                    <input type="hidden" name="MAX_FILE_SIZE" value="300000" />             
                    <input name="profile_pic" type="file" />
                    <input type="submit" value="Upload Photo" />
                </form> 
                {% endif %}
            </td>
        </tr>   
        
        <tr>
            <td colspan=3 style="width:300px;border:none;"></td>                       
            <td rowspan=3 style="width:150px;height:100px;padding:3px;text-align:center;">
                {% if has_pwd_id %}
                    <img style="width:150px;height:95px;" src="{{ img_scc_id }}">
                    <br>
                    <span ><a style="font-size:9px;color:red;" href="/emrs/emrs/patients/remove/{{ pid }}/{{ token }}">Remove pic</a></span>  
                {% else %}
                    <span>No image</span>                
                {% endif %}               
            </td>
        </tr>    
        
        <tr><td colspan=3 style="border:none"></td></tr>        
        <tr><td colspan=3 style="border:none"></td></tr>       
        <tr>
            <td colspan=1 style="border:none"></td>
            <td colspan=3 style="border:none">
                {% if has_pwd_id == 0 %}
                <form enctype="multipart/form-data" action="/emrs/emrs/patients/upload" method="POST">  
                    <input type="hidden" name="pid" value="{{ pid }}" />  
                    <input type="hidden" name="MAX_FILE_SIZE" value="300000" />             
                    <input name="profile_pic" type="file" />
                    <input type="submit" value="Upload Photo" />
                </form> 
                {% endif %}
            </td>
        </tr>        
        
        <tr>            
            <td colspan=4 style="border:none;height:20px;"></td> 
        </tr>        
    
        <tr>
            <td>ESRD Cause</td>
            <td colspan=3>{{ info.diagnosis }}</td> 
        </tr> 

        <tr>            
            <td colspan=4 style="border:none;height:20px;"></td> 
        </tr>         
        
        <tr>
            <td>Date of first Dialysis</td>
            <td colspan=3>{{ info.first_dialysis }}</td> 
        </tr> 

        <tr>            
            <td colspan=4 style="border:none;height:20px;"></td> 
        </tr>         
        
        <tr>            
            <td colspan=4>Hepatitis Status</td> 
        </tr>        
        <tr>
            <td>HbsAg</td>
            <td>{{ hp1.entry_value }}</td>
            <td>Date</td>
            <td>{{ hp1.entry_date[4:2] }}/{{ hp1.entry_date[6:2] }}/{{ hp1.entry_date[0:4] }}</td>
        </tr>
        <tr>
            <td>Anti-HBS</td>
            <td>{{ hp2.entry_value }}</td>
            <td>Date</td>
            <td>{{ hp2.entry_date[4:2] }}/{{ hp2.entry_date[6:2] }}/{{ hp2.entry_date[0:4] }}</td>
        </tr>
        <tr>
            <td>Anti-HCV</td>
            <td>{{ hp3.entry_value }}</td>
            <td>Date</td>
            <td>{{ hp3.entry_date[4:2] }}/{{ hp3.entry_date[6:2] }}/{{ hp3.entry_date[0:4] }}</td>
        </tr>    
        
        <tr>            
            <td colspan=4 style="border:none;height:20px;"></td> 
        </tr>         
        <tr>
            <td>Access</td>
            <td colspan=3 style="width:450px"></td> 
        </tr> 
        <tr>
            <td>Date Inserted</td>
            <td></td>
            <td>Surgeon</td>
            <td></td>
        </tr>
        <tr>
            <td>Date Done</td>
            <td></td>
            <td>Surgeon</td>
            <td></td>
        </tr>

        <tr>            
            <td colspan=4 style="border:none;height:20px;"></td> 
        </tr>         
        
        <tr>            
            <td colspan=1>Hemodialysis Orders</td> 
            <td colspan=3>{{ info.hemodialysis_orders }}</td>
        </tr>

       
    
        
        
        
        
    </table>    
        




{% endblock %}