{% extends "base.html" %}

{% block doctype %}{% endblock %}
{% block title %} Patient Profile: {{ person_values.fname|title }} {{ person_values.lname|title }} {% endblock %}
{% block bootstrap %} {% endblock %} 
{% block header %} {% endblock %}
{% block navbar %} {% endblock navbar %}
{% block menu %} {% endblock menu %} 

{% block js %}
{% endblock js %}  

{% block content %}
<style>
    td {       
        border: solid thin white;       
    }
    
    table {        
        font-family:verdana;
        font-size:11px;
        margin:auto;       
    }      
    
</style>       
    <table border=1>
        <tr><td colspan=4>
                [<a target="_blank" href="/emrs/emrs/">Home</a>] 
                [<a target="_blank" href="/emrs/emrs/patients/view/{{ pid }}">Profile</a>] 
                [<a target="_blank" href="/emrs/emrs/patients/edit/{{ pid }}">Edit</a>] 
                [<a target="_blank" href="/emrs/emrs/patients/treatment/{{ pid }}">Treatments</a>]
                [<a target="_blank" href="/emrs/emrs/patients/appointment/{{ pid }}">Appointments</a>]
                [<a target="_blank" href="/emrs/emrs/patients/lab-results/{{ pid }}">Lab Results</a>] 
                [<a target="_blank" href="/emrs/emrs/medications/{{ pid }}">Medications</a>]</td></tr>
        <tr><td colspan=4 style="text-align:center;padding:5px;border: solid thin grey;"><span style='font-size:26px;'><b>{{ session.company_name }}</b></span></td></tr>         
       
        <tr>            
            <td colspan=3 style="height:20px;"></td> 
            <td style="width:150px; height: 20px;text-align:center;padding:3px;">{{ date_today }}</td>      
        </tr>
          
        <tr>            
            <td colspan=3><b>Name</b>: {{ person_values.fname|title }} {{ person_values.mname|title }} {{ person_values.lname|title }} ({{age}}/{{ person_values.gender }})</td>            
            
                        
            <td rowspan=6 style="width:150px;height:140px;padding:3px;text-align:center;border:solid thin grey;">             
                <img style="width:150px;height:130px;" src="{{ has_profile_pic ? img_profile_pic : img_blank }}">
                <br>                                   
            </td>
        </tr>    
        
        <tr>            
            <td colspan=3><b>Address 1</b>: {{ person_values.address1 }}</td>            
        </tr>        
        <tr>            
            <td colspan=3><b>Address 2</b>: {{ person_values.address2 }} {{ person_values.city }} {{ person_values.province }}</td>            
        </tr> 
        <tr>
            
            <td><b>Phone</b>: {{ person_values.phone_number }}</td>
            <td style="width:150px;"><b>Birthday</b>: {{ person_values.birth_date[4:2] }}/{{ person_values.birth_date[6:2] }}/{{ person_values.birth_date[0:4] }}</td>            
            <td><b>Blood Type</b>: {{ patient_values.blood_type }}</td> 
        </tr> 
  
        <tr>            
            <td colspan=3 style="height:20px;"></td>
        </tr> 
        <tr>            
            <td colspan=3 style="height:20px;"></td>
        </tr> 
        
        <tr>            
            <td colspan=4 style="height:10px;"></td> 
        </tr>          

        <tr>
            <td ></td>                         
            <td rowspan=3 style="width:150px;height:100px;padding:3px;text-align:center;border:solid thin grey">
                <img style="width:150px;height:95px;" src="{{ has_scc_id ? img_scc_id : img_blank }} ">
                <br>                             
            </td>          
                                   
            <td rowspan=3 style="width:150px;height:100px;padding:3px;text-align:center;border:solid thin grey">
                <img style="width:150px;height:95px;" src="{{ has_pwd_id ? img_pwd_id : img_blank }} ">
                <br>                        
            </td> 
            <td ></td>
        </tr>     
        <tr>            
            <td></td><td></td> 
        </tr>  
        <tr>            
            <td></td><td></td> 
        </tr>    
        
        <tr>            
            <td colspan=4 style="height:10px;"></td> 
        </tr>        
        <tr>            
            <td colspan=3><b>Diagnonsis</b>: {{ patient_values.diagnosis }}</td> 
            <td><b>First Dialysis</b>: {{ patient_values.first_dialysis }}</td> 
        </tr>

        <tr>            
            <td colspan=4 style="height:10px;"></td> 
        </tr>         
        
        <tr>            
            <td colspan=2><b>Hepatitis Status</b>:</td> 
            <td colspan=2><b>Access</b>:</td> 
        </tr>        
        <tr>            
            <td><b>HbsAg</b>: {{ hp1.entry_value }}</td>            
            <td><b>Date</b>: {{ hp1.entry_date[4:2] }}/{{ hp1.entry_date[6:2] }}/{{ hp1.entry_date[0:4] }}</td>
            <td><b>Date Inserted</b>:</td>      
            <td><b>Surgeon</b>:</td>
        </tr>
        <tr>            
            <td><b>Anti-HBS</b>: {{ hp2.entry_value }}</td>            
            <td><b>Date</b>: {{ hp2.entry_date[4:2] }}/{{ hp2.entry_date[6:2] }}/{{ hp2.entry_date[0:4] }}</td>
            <td><b>Date Done</b>:</td>       
            <td><b>Surgeon</b>:</td>
        </tr>
        <tr>           
            <td><b>Anti-HCV</b>: {{ hp3.entry_value }}</td>           
            <td><b>Date</b>: {{ hp3.entry_date[4:2] }}/{{ hp3.entry_date[6:2] }}/{{ hp3.entry_date[0:4] }}</td>
            <td></td>       
            <td></td>            
        </tr>    
        
        <tr>            
            <td colspan=4 style="height:10px;"></td> 
        </tr>               
        
        <tr>            
            <td colspan=4><b>Hemodialysis Orders</b>:</td>             
        </tr>
        
        <tr>            
            <td><b>Duration</b>: {{ hd_order_values.duration }}</td> 
            <td><b>Blood Flow</b>: {{ hd_order_values.blood_flow }}</td> 
            <td><b>Dialysate Flow</b>: {{ hd_order_values.dialysate_flow }}</td> 
            <td></td> 
        </tr>   
        <tr>            
            <td><b>Heparin</b>: {{ hd_order_values.heparin }}</td> 
            <td></td> 
            <td><b>Dialyzer</b>: {{ hd_order_values.dialyzer }}</td> 
            <td></td> 
        </tr>         

       
        <tr>            
            <td colspan=4 style="height:10px;"></td> 
        </tr>         
        <tr>            
            <td colspan=4><b>Medications</b>:</td> 
        </tr>         
        {% for e in entries %}
        <tr>
        <td colspan=4 style="">
            <span>
                {{ e.qty }} 
                {{ e.med_name }} 
                {{ e.prep_name }}                   
                {{ e.amt }}                           
                {{ e.frequency }}                
                {{ e.notes }}
            </span>
        </td>
        </tr>   
        {% endfor %}     
        
        <tr>            
            <td colspan=4 style="height:30px;"></td> 
        </tr>         
        <tr>            
            <td colspan=3></td> 
            <td><b>{{ info.pro_title }}</b></td> 
        </tr>   
        <tr>            
            <td colspan=3></td> 
            <td>Lic No: <u>{{ info.license_number == '' ? '______' :  info.license_number }}</u></td> 
        </tr> 
        <tr>            
            <td colspan=3></td> 
            <td>PTR No: <u>{{ info.ptr == '' ? '______' :  info.ptr }}</u></td>
        </tr> 
        <tr>            
            <td colspan=3></td> 
            <td>S2 No: <u>{{ info.s2 == '' ? '______' :  info.s2 }}</u></td>
        </tr> 
        <tr>            
            <td colspan=4 style="height:20px;"></td> 
        </tr>         
      
        
        
        
    </table>    
        




{% endblock %}