{% extends "base.html" %}

{% block doctype %}{% endblock %}
{% block title %} Lab Report {% endblock %}
{% block bootstrap %} {% endblock %} 
{% block header %} {% endblock %}
{% block navbar %} {% endblock navbar %}
{% block menu %} {% endblock menu %} 

{% block js %}
{% endblock js %}  

{% block content %}

    <table rules="all" style="border:solid thin black;font-family: verdana;font-size:12px">    

        <tr>
            <th>Lab Test</th>
            <th>Normal Value</th>                  
            {% for h in headers %}                 
                <th>{{ h.pname }}</th>               
            {% endfor %}              
        </tr>
            {% for v in values  %}
                <tr>           
                    <td style='text-align:left'>{{ v.property_name }}</td> 
                    <td style='text-align:left'>{{ v.normal_value }}</td>
                    {% set tmp = v.entries|split(',') %}                    
                    {% for t in tmp if v.entries %}                 
                        <td>{{ t }}</td>               
                    {% endfor %}                             
                </tr>
            {% endfor %}     
    </table>



{% endblock %}