{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block menu %}    
{% endblock menu %}

{% block js %}
{% endblock js %}  

{% block content %}
<div class="container">
    
<div class="row clearfix">    
  <div class="col-xs-12 column">  
      <br>
  </div>    
</div>      
   
{% include "flash_msg.html" %}    
    
   
       
<form role="form" action="/emrs/emrs/reports/laboratory" method="POST">
<input type="hidden" name="pid"       value="{{ pid }}">   
<input type="hidden" name="old_date" value="{{ old_date }}">

<div class="row clearfix">
    
<div class="col-xs-3 column">
</div>    
   
    
<div class="col-xs-3 column">     
     <div class="panel panel-primary">        
        <div class="panel-heading">Select Lab test</div>
       
        {% for c in categories %}
        <ul > 
            <li>{{ c.category_name }}</li>
            <ul>
            {% for p in properties if c.category_name == p.category_name %}
            
                <li><input name="property_id[]" type=checkbox value="{{ p.property_id }}">{{ p.property_name }}</li>
            {% endfor %}  
            </ul>
        </ul>
        {% endfor %}        
        

        
        </table>         
     </div>   
</div>
    
 <div class="col-xs-3 column">
     <div class="panel panel-primary">        
        <div class="panel-heading">Select Patient</div>
        
        <table class="table table-bordered"> 
        <tr><td>
        <button type=submit class="btn btn-primary btn-block">Submit</button>
        </td></tr>            
        {% for p in patients %}
        <tr><td style="text-align: left">
        <input name="person_id[]" type=checkbox value="{{ p.person_id }}">{{ p.full_name }}
        </td></tr>
        {% endfor %}
        </table>         
     </div>
</div> 
    
<div class="col-xs-3 column">
</div>     
    

    
</div>  

<div class="row clearfix">    
<div class="col-md-12 column">

</div> 
</div>    

</form>

</div>

{% endblock %}