<div class="row clearfix">
    <div class="col-md-12 column">                      
        <ul class="nav nav-pills"> 
            <li {{ title == 'Settings' ? 'class="active"' }} >
                    <a href="/emrs/emrs/tools/meds/active">Settings</a>
            </li>   
            <li {{ title == 'Users' ? 'class="active"' }} >
                    <a href="/emrs/emrs/tools/users/active">Users</a>
            </li> 
            <li {{ title == 'Treatment Items' ? 'class="active"' }} >
                    <a href="/emrs/emrs/tools/treatment-items/active">Treatment Items</a>
            </li>             
            <li {{ title == 'Meds' ? 'class="active"' }} >
                    <a href="/emrs/emrs/tools/meds/active">Meds</a>
            </li>       
            
            

        </ul>                
    </div>
</div>