{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block menu %}
    {% include "tools_menu.html" %}
{% endblock menu %}

{% block content %}


<div class="container">
    
<div class="row clearfix">    
  <div class="col-xs-12 column">  
      <br>
  </div>    
</div>     
   
{% include "flash_msg.html" %}      

<div class="row clearfix">

<form role="form" action="/emrs/emrs/tools/treatment-items/save" method="POST">
<input type="hidden" name="id" value="{{ id }}">



<div class="{{ id ? 'col-lg-5' : 'col-lg-8 col-xs-8' }}   column">
     <div class="panel panel-primary">
        <div class="panel-heading">Property List [ <a style="color:white;" href="/emrs/emrs/tools/treatment-items/active">active</a> | <a style="color:white;" href="/emrs/emrs/tools/treatment-items/all">all</a> ]</div>
            <table class="table table-bordered" style="font-size:12px; text-align:left;">
                <tr>               
                    <th>ID</th>
                    <th>Name</th> 
                    <th>HTML Type</th>                   
                </tr>    
             {% for property in properties %}   
                <tr>                    
                    <td><a href="/emrs/emrs/tools/treatment-items/{{ property.property_id }}">{{ property.property_id }}</a></td>
                    <td style="text-align:left;">{{ property.property_name }}</td>
                    <td style="text-align:left;">{{ property.html_type }}</td>               
                </tr>    
            {% endfor %}    
            </table>            
     </div>
</div> 

<div class="{{ id ? 'col-lg-3' : 'col-lg-4 col-xs-4' }} column">
     <div class="panel panel-primary">
        <div class="panel-heading">Property Details</div>        
        <table class="table table-bordered" style="font-size:12px; ">
            <tr>               
                <th>Property</th>
                <th>Value</th>                                        
            </tr>  
        {% if properties_values %}    
        {% for key, value in properties_values %}   
            <tr>                    
                <td style="text-align:left;">{{ key|replace({'_': ' '})|title }}</td>
                <td><input style="width:100%;" class="form-control input-sm" type="text" name="{{ key }}"  value="{{ value }}"></td>                
            </tr>            
        {% endfor %}
        {% else %} 
        {% for header in properties_header %}   
            <tr>                    
                <td style="text-align:left;">{{ header.Field|replace({'_': ' '})|title }}</td>
                <td><input style="width:100%;" class="form-control input-sm" type="text" name="{{ header.Field }}"  value=""></td>                
            </tr>            
        {% endfor %}            
        {% endif %} 
        {% if html_values %}    
        {% for key, value in html_values if key not in ['property_id'] %}   
            <tr>                    
                <td  style="text-align:left;">{{ key|replace({'_': ' '})|title }}</td>
                <td><input style="width:100%;" class="form-control input-sm" type="text" name="{{ key }}"  value="{{ value }}"></td>                
            </tr>            
        {% endfor %}
        {% else %} 
        {% for header in html_header if header.Field not in ['property_id'] %}   
            <tr>                    
                <td style="text-align:left;">{{ header.Field|replace({'_': ' '})|title }}</td>
                <td><input style="width:100%;" class="form-control input-sm" type="text" name="{{ header.Field }}"  value=""></td>                
            </tr>            
        {% endfor %}            
        {% endif %}         
        </table>         

        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit" name="btn_save_property" value="1">Save</button>
        </div>
            
        </div> 
</div>


{% if id %}  
<div class="col-lg-4 column">
    
     <div class="panel panel-primary">
        <div class="panel-heading">Property Options</div> 
            
            <table class="table table-bordered" style="font-size:12px">
                <tr>               
                    <th>ID</th>
                    <th>Value</th> 
                    <th>Active</th>                    
                </tr>    
             {% for option in properties_options %}   
                <tr>                    
                    <td><input style="width:80px;" class="form-control input-sm" type="text" name="option_id[]"     value="{{ option.option_id }}"></td>
                    <td><input style="width:100%;" class="form-control input-sm" type="text" name="option_value[]"  value="{{ option.option_value }}"></td>
                    <td><input  style="width:30px;"class="form-control input-sm" type="text" name="option_active[]" value="{{ option.active }}"></td>               
                </tr>            
            {% endfor %}
                <tr>                    
                    <td><input style="width:80px;" class="form-control input-sm" type="text" name="option_id[]"     value=""></td>
                    <td><input style="width:100%;" class="form-control input-sm" type="text" name="option_value[]"  value=""></td>
                    <td><input  style="width:30px;"class="form-control input-sm" type="text" name="option_active[]" value=""></td>               
                </tr>               
            </table>           
            

        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit" name="btn_save_options" value="1">Save</button>
        </div>
            
        </div> 
    
     <div class="panel panel-primary">
        <div class="panel-heading">Property Options (Users)</div> 
            
            <table class="table table-bordered" style="font-size:12px">
                <tr>               
                    <th>Property</th>
                    <th>Value</th>                                        
                </tr>  
            {% if properties_options2 %}    
            {% for key, value in properties_options2 if key not in ['property_id'] %}   
                <tr>                    
                    <td style="text-align:left;">{{ key|replace({'_': ' '})|title }}</td>
                    <td><input style="width:100%;" class="form-control input-sm" type="text" name="o_{{ key }}"  value="{{ value }}"></td>                
                </tr>            
            {% endfor %}
            {% else %} 
            {% for header in properties_options2_header if header.Field not in ['property_id'] %}   
                <tr>                    
                    <td style="text-align:left;">{{ header.Field|replace({'_': ' '})|title }}</td>
                    <td><input style="width:100%;" class="form-control input-sm" type="text" name="o_{{ header.Field }}"  value=""></td>                
                </tr>            
            {% endfor %}            
            {% endif %} 
            </table>    
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" name="btn_save_options2" value="1">Save</button>
            </div>
            
        </div> 
    
</div>
{% endif %}


    



    
    
</div>
</form>

</div>

{% endblock %}
